*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about_banner_wrap{
	position:relative;
}
.header {
    display: none;
}
h1.m_11{
	color: #FFF;
	background: #00BFF0;
	padding: 7px 50px;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 100;
	position: absolute;
	top:-48px;
	text-align: center;
	left:14%;
	margin:0;
}
.about-wrapper {
    background: linear-gradient(to bottom, #72d0f4 25%, #3399ff 79%);
}
.about-top {
	padding: 7% 0;
	width: 89%;
	margin: 0 auto;
}
.about-left-text{
	text-align:center;
}
.about-left-text h2 {
	font-size: 2.5em;
	font-weight: 100;
	color: #FFF;
	margin:7% 0 1% 0;
}
.about-left-text  p {
	font-size: 1.1em;
	color: #FFF;
	line-height: 1.5em;
	font-weight: 100;
	margin-bottom: 10px;
}
.about-left-text h4 {
	font-size: 0.95em;
	font-weight: 600;
	color: #FFF;
}
span.m_12 {
	font-style: italic;
	font-weight: 400;
}
.about_trainer{
	padding:7% 0;
}
.about_box{
	margin-bottom:2.6%;
}
.title{
    font-size: 50px;
    padding: 50px 100px 20px 100px;
    text-align: center;
    border-bottom: #72d0f4 5px solid ;
}
.content{
    font-size: 20px;
    padding: 20px 100px 50px 100px;
    text-align: center;
}
.box1{
    background: linear-gradient(to bottom, #72d0f4 25%, #3399ff 79%);
	padding:8% 5% 4% 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box1:hover , .box2:hover{
    transform: scale(1.15);
    transition: 2000ms;
}
.box1_left{
	width: 42.5%;
	float: left;
	text-align: center;
	border-right: 1px solid #B9DEEC;
	margin-right: 20px;
	padding-right: 20px;
}
.box1_right{
	width: 45.5%;
	float: left;
}
.box1_left img{
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
}
.desc1 h3 {
	text-align: center;
	line-height: 20px;
	color: #fff;
	font-size: 1em;
	font-weight:600;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.desc1 p{
	color: #fff;
	font-size: 0.8125em;
	font-style: italic;
	line-height: 20px;
	text-align: center;
	margin-bottom: 10px;
	line-height: 1.3em;
}
i.a_twt {
	background: url(/images/img-sprite.png)no-repeat -316px -209px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
}
i.a_fb {
	background: url(/images/img-sprite.png)no-repeat -354px -209px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
}
i.a_heart{
	background: url(/images/img-sprite.png)no-repeat -395px -209px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
}
i.a_heart:hover, i.a_fb:hover, i.a_twt:hover, i.like1:hover, i.heart1:hover, i.like:hover, i.twt:hover, i.twt:hover, i.fb:hover{
	opacity:0.5;
}
.box1_right h4{
	color: #FFF;
	font-size:0.9em;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.box1_right p{
	color:#fff;
	font-size:0.79em;
	line-height:1.5em;
	margin-bottom:20px;
}
h4.right_text {
	color:#00BFF0;
}
p.para1{
	color:#fff;
	font-size:0.79em;
	line-height:1.5em;
}
.box2{
	background:#fff;
	padding: 8% 5% 4% 5%;
}
.desc2 h3 {
	text-align: center;
	line-height: 20px;
	color:#00BFF0;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.desc2 p {
	color: #000;
	font-size: 0.8125em;
	font-style: italic;
	line-height: 20px;
	text-align: center;
	margin-bottom: 10px;
	line-height: 1.3em;
}
p.right_text1 {
	color: #00BFF0;
	font-size: 0.79em;
	line-height: 1.5em;
	margin-bottom: 20px;
}
p.right_text2 {
	color: #00BFF0;
}
.login{
    background: linear-gradient(to bottom, #72d0f4 25%, #3399ff 79%);
	padding:4% 0;
}
.login_details{
	width:70%;
	margin:0 auto;
}
.join{
	text-align:center;
	border-right: 1px solid #B9DEEC;
}
.join h3{
	color:#fff;
	font-style:italic;
	font-size:2em;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom: 3px;
}
.join h4{
	color: #FFF;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 3%;
}
.join p{
	color: #FFF;
	font-size:0.8125em;
	line-height:1.5em;
}
.btn3{
	margin-top:7%;
}
.btn3 a {
	background:#ff0000;
	font-size:0.85em;
	padding:12px 80px;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border:none;
	text-transform:uppercase;
}
.btn3 a:hover{
	background:#DF0606;
	text-decoration: none;
}
.join-right h3{
	color:#222;
	font-style:italic;
	font-size:2em;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom: 3px;
}
.join-right h4{
	color: #222;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 3%;
}
.join-right{
	text-align:center;
}
.join-right p{
	color: #222;
	font-size:0.8125em;
	line-height:1.5em;
}
.btn4{
	float:left;
	margin-left:20%;
}
.btn4 a {
	background:#fff;
	font-size:0.85em;
	padding:12px 45px;
	color:#00BFF0;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border:none;
	text-transform:uppercase;
}
.btn4 a:hover {
	background: #00BFF0;
	color:#fff;
	text-decoration: none;
}
.buttons_login{
	padding-top:7%;
}
.p-ww{
	float:left;
	margin-top: -12px;
}
.p-ww input[type="text"] {
	font-family: 'Open Sans', sans-serif;
	padding: 12px 20px;
	border: none;
	outline: none;
	width:70%;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.85em;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
	background: #A1EEF7;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	cursor: pointer;
}
.p-ww input[type="text"]:hover {
	background: #77E9F7;
}
.testimonial{
	padding:6% 0;
	text-align:center;
}
i.quot {
	width: 100px;
	height: 100px;
	background: url(/images/img-sprite.png)no-repeat #00afec 10px -241px;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	margin: 0 auto;
}
.testimonial p{
	font-style:italic;
	font-size:1em;
	color:#888;
	line-height:1.8em;
	margin-top:5%;
}
p.ceo{
	color:#000;
	font-size:1em;
	font-style: normal;
	margin-top: 3%;
}
span.ceo1{
	color:#73E2FF;
	font-size:1em;
	text-transform:uppercase;
}
.about_gallery{
	background:#e6e6e6;
	padding:4% 0;
}
