* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: none;
}

#term {
  padding: 50px 0;
  padding-top: 0;
  background-color: #FFF;
  min-height: calc(100vh - (120px + 100px));
}
#term .term {
  text-align: center;
}
#term .term .term-title {
  font-size: 40px;
  margin-bottom: 20px;
}
#term .term .term-desc {
  margin-bottom: 20px;
  font-size: 30px;
}
#term .term .term-content {
  max-width: 60%;
  height: 300px;
  border: 2px solid #EEE;
  margin: 0 auto;
  text-align: left;
  overflow-y: scroll;
  padding: 10px;
  margin-bottom: 30px;
  line-height: 2;
}
#term .term .term-link a {
  display: inline-block;
  margin: 20px;
  padding: 10px 40px;
  background-color: #CCC;
  color: #FFF;
  text-decoration: none;
  width: 200px;
}
#term .term .term-link .term-link-active {
  background-color: #4C8AF5;
}

.form-link {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}
.form-link button {
  width: 20%;
  padding: 14px;
  margin: 0 10px;
  border: none;
  background-color: #CCC;
  color: white;
}
.form-link .form-link-primary {
  background-color: yellowgreen;
}

.form-link-pt {
  padding-top: 0;
}

@media screen and (min-width: 769px) {
  #term .term .term-content {
    max-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  #term .term .term-content {
    max-width: 90%;
  }
  #term .term .term-link a {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 567px) {
  #term .term .term-content {
    max-width: 90%;
  }
  #term .term .term-link a {
    padding: 10px 30px;
    width: 150px;
  }

  .form-link-pt {
    display: flex;
  }
  .form-link-pt button {
    width: 50%;
  }
}
