#thank {
    min-height: calc(100vh - (120px + 100px));
    text-align: center;
    padding: 50px;

    .thank-title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .thank-desc {
        font-size: 30px;
        margin-bottom: 25px;
    }

    p {
        font-size: 22px;
    }

    .button {
        display: inline-block;
        width: 200px;
        padding: 10px 0;
        background-color: blue;
        color: white;
        text-decoration: none;
        margin-bottom: 16px;
    }

    .button-first {
        margin-top: 320px;
    }
}.header {
    display: none;
}