<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="../../../public/assets/css/admin/alogin.css">
</head>

<body>
<div>
    <table class="form-login">
        <form role="form" method="post">

            <div class="form-row">
                <label class="form-label">Name</label>
                <input style="color:black;" type="text" class="" style="color: black;font-size: 16px" name="name">
            </div>
            <div class="form-row">
                <label class="form-label">Code</label>
                <input style="color: black;" type="text" class="" style="color: black;font-size: 16px" name="code">
            </div>
            <div class="form-row">
                <label class="form-label">Phone Number</label>
                <input style="color:black;" type="password" name="password" style="color: black;font-size: 16px" class="" >
            </div>
            <div class="form-row">
                <label class="form-label">Email</label>
                <input style="color:black;" type="email" name="email" style="color: black;font-size: 16px" class="">
            </div>
            <div class="form-row">
                <label class="form-label">Password</label>
                <input style="color:black;" type="password" name="password" style="color: black;font-size: 16px" class="" >
            </div>


            <button type="submit" class="">Submit</button>
        </form>
    </table>
</div>

</body>
</html>
